@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Source+Sans+Pro&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
p {
  margin-bottom: 20px;
}

body{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

#header{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(0, 0, 0, .9);
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80px;
  color: #fff;
}



#header .logo{
  padding: 0 50px;
}
#header .nav{
  flex-grow: 1;
}
#header .nav ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#header .nav .active a{
  color: #fff;
}
#header a{
  color: #919191;;
  text-decoration: none;
}

.nav ul li:hover {
  font-size: 1rem;
  background: #007eb3;
}

.contenido {
  padding-top: 50px;
}

.bgImageFullScreen{
 height: 110vh;
  background-image: url('../imagenes/background.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

#pantalla_principal{
  height: 100%;
  background-color: #007eb3;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas: 
  "uno dos";
  grid-gap: 2rem;
  margin: auto;
}




.uno{
  grid-area: uno;
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  color: #fff;
}

.dos{
  grid-area: dos;
  margin-top: 50px;
}

.uno, .dos {
  padding: 1.8rem;
}

.bgColorBlack{
  background-color: #000;
}

.borders{
  border: 1px solid #000;
  border-radius: 1rem;
}



.box {
  position: relative;
  width: 30%;
  margin: 0 5%;
  display: inline-block;
  padding: 50px;
}

#footer{
  background-color: #000;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70px;
}

#footer .letras{
  padding: 0 50px;
}

#footer .nav{
  list-style-type: none;
  flex-grow: 1;

}
#footer .nav li{
  display: inline-block;
  margin-right: 20px;
}
#footer .nav a{
  color: #fff;
  text-decoration:line;

}

#footer .letras{
  color: #fff;
}

#musica{
  height: 100%;
  background-color: #007eb3;
}


#musica .contenido .nav p{
  margin-bottom: 5px;
}

#musica .contenido {
  padding-top: 80px;
}

#musica .contenido .nav{
  padding-left: 150px;
}

#premios{
  height: 100%;
  background-color: #007eb3;
}

#premios .box {
  position: relative;
  width: 30%;
  margin: 0 5%;
  display: inline-block;
  padding: 50px;
}

#contacto{
  height: 100vh;
  background-color: #007eb3;
}

.title{
  font-family: 'Permanent Marker', cursive;
  font-size: 20px;
}

#main{
  background-color: #007eb3;
  padding-top: 200px;
  padding-left: 200px;
  padding-right: 400px;
  display: grid;
  grid-template-columns: 4fr 2fr;
}
#main .title{
  position: sticky;
  top: 200px;
  font-size: 2.5rem;
  color: #fff;
}
#main .boxContent{
  border-radius: 2.5rem;
  background-color: #000;
  color: #fff;
  margin-bottom: 2rem;
  padding: 2.5rem;
  min-height: 250px;
}
#main .boxContent p{
  font-size: 1rem;
  line-height: 1.2rem;
}

#main .container .izq1{
  margin-left: 50px;
}
#main .container .der2{
  padding-right: 50px;
}

.title{
  top: 200px;
  font-size: 2.5rem;
  color: #fff;
}

#main2{
  background-color: #007eb3;
  
  padding-left: 200px;
  padding-right: 400px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas: 
  "izq der";
  grid-gap: 2rem;
  margin: auto;
}

#main2 .boxContent{
  border-radius: 2.5rem;
  background-color: #000;
  color: #fff;
  margin-bottom: 2rem;
  padding: 2.5rem;
  min-height: 250px;
}
#main2 .boxContent p{
  font-size: 1rem;
  line-height: 1.2rem;
}

.izq{
  grid-area: izq;
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  color: #fff;
}

.der{
  grid-area: der;
  padding-top: 75px;
  margin-top: 50px;
}









